body {
    background: #6a6a6a;
}
.wrapper {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.wrapper h1 {
    text-align: center;
    color: #fff;
}
div {
    background: rgb(255, 255, 255);
    animation: bounce ease-in-out 1s infinite;
    animation-direction: alternate;
}
@keyframes bounce {
    0% {
        opacity: 0;
        width: 100px;
    }
    50% {
        opacity: 0.7;
        width: 300px;
        transform: rotate(45deg);
    }
    100% {
        opacity: 1.5;
        width: 600px;
    }
}
.content {
    flex-wrap: wrap;
}
p {
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    margin-top: 145px;
    animation: color ease-in-out 5s infinite;  
}
@keyframes color {
    0% {
        opacity: 0;
        width: 100px;
        color: #fff;
        text-align: center;
    }
    50% {
        opacity: 0.7;
        width: 300px;
        color: #000;
        text-align: center;
    }
    75% {
        color: #2d0872;
        text-align: center;
    }
    100% {
        opacity: 1.5;
        width: 600px;
        text-align: center;
    }
}